<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dnkdefcurrency</name>
	<displayName><![CDATA[The default currency for the first visit of customers]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Allow set currency for the first visit of customers]]></description>
	<author><![CDATA[DNK]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
